/* Example Styles for React Tags*/
#tag {
  padding: 40px;
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  @apply mt-4 border-gray-600 w-72;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  @apply w-full h-10 px-2 overflow-hidden text-gray-700 border border-gray-300 rounded-lg bg-gray-50;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  @apply inline-block px-4 py-1 mt-3 mr-2 border rounded-lg bg-gray-50;
}
div.ReactTags__selected a.ReactTags__remove {
  color: green;
  margin-left: 135px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  z-index: 100;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 288px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}
